# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
out/

# IntelliJ IDEA project files
*.iml
.idea/
*.ipr
*.iws

# macOS files
.DS_Store

# Log files
*.log

# Temporary files
*.swp
*.swo
*.tmp
*.bak

# Compiled files
*.class

# WAR/EAR files
*.war
*.ear

# Dataset
dataset.zip
dataset/
datasets/